<div class="admin-panel">
  <div class="sidebar">
    <h2>Panel de Administracion</h2>
    <ul>
      <li><a href="admin/inventario">Gestion de Productos</a></li>
      <li><a href="/usuarios">Gestion de Usuarios</a></li>
    </ul>
    <div class="btn-signout">
      <a routerLink="/">Cerrar Sesion</a>
    </div>
  </div>

  <div class="content">
    <header>
      <h1>Gestión de Usuarios</h1>
      <button class="btn-add">Agregar Usuario</button>
    </header>
    <br>
    <div class="card-container">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SEBASTIAN CARDONA</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Email</h6>
          <p><a href="mailto:scardonas920@gmail.com">scardonas920gmail.com</a></p>
          <br>
          <p class="card-text">PREFERENCIA: NIÑOS</p>
        </div>
      </div>
    
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">MARIA LOPEZ</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Email</h6>
          <p><a href="mailto:Maria.lopez@email.com">Maria.lopezemail.com</a></p>
          <br>
          <p class="card-text">PREFERENCIA: ADULTOS</p>
       
        </div>
      </div>
    
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CARLOS GOMEZ</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Email</h6>
          <p><a href="mailto:Carlos.gomez@email.com">Carlos.gomezemail.com</a></p>
          <br>
          <p class="card-text">PREFERENCIA: NIÑOS</p>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alejandro Ríos</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Email</h6>
          <p><a href="mailto:alejandro.rios@email.com">alejandro.riosemail.com</a></p>
          <br>
          <p class="card-text">PREFERENCIA: ADULTOS</p>
        </div>
      </div>
    
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Camila Fernández</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Email</h6>
          <p><a href="mailto:camila.fernandez@email.com">camila.fernandezemail.com</a></p>
          <br>
          <p class="card-text">PREFERENCIA: ADULTOS</p>
        </div>
      </div>
    
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Luis Méndez</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Email</h6>
          <p><a href="mailto:luis.mendez@email.com">luis.mendezemail.com</a></p>
          <br>
          <p class="card-text">PREFERENCIA: NIÑOS</p>
        
        </div>
      </div>
    </div>
        
   
   
   