<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./footer.component.css">
</head>

<footer class="pie-pagina">
    <section class="grupo1">
        <article class="box">
            <figure>
                <a href="#">
                    <img src="../assets/logo.png" alt="Logo">
                </a>
            </figure>

        </article>

        <article class="box">
            <h2>Proyecto final</h2>
            <p>Realizado por: Christian Franco & Sebastian Cardona</p>
        </article>

        <article class="box">
            <h2>Contactanos</h2>
            <div class="redsocial">
                <a href="https://github.com/christianFranco2004" class="fa fa-github"></a>
                <a href="#" class="fa fa-whatsapp"></a>
                <a href="https://www.linkedin.com/in/christian-jhoan-franco-vergara-5a3732328/"
                    class="fa fa-linkedin"></a>
                <a href="https://www.google.com/intl/es-419/gmail/about/" class="fa fa-envelope"></a>
            </div>


        </article>
    </section>

    <section class="grupo2">
        <small>&copy; 2024 <b>sneakers</b> - Todos Los Derechos Reservados.</small>

    </section>
</footer>
<script src="https://kit.fontawesome.com/d7ddf6359d.js" crossorigin="anonymous"></script>

</html>