/*--------------------INICIO FOOTER--------------------*/
.pie-pagina {
    width: 100%;
    background-color: #4A2B0B;
}

.pie-pagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie-pagina .grupo1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: "Playfair Display", serif;
}

.pie-pagina .grupo1 .box p {
    color: #efefef;
    margin-bottom: 10px;
    font-family: "Roboto Slab", serif;

}

.pie-pagina .grupo1 .redsocial a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #221000;
    text-align: center;
    transition: all 300ms ease;
    transition: 0.5s;
}

.pie-pagina .grupo1 .redsocial a:hover {
    transform: translateY(-10px);
    color: #D78B4E;
}

.pie-pagina .grupo2 {
    background-color: #4A2B0B;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo2 small {
    font-size: 15px;
    font-family: "Roboto Slab", serif;

}

/*--------------------FIN FOOTER--------------------*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .pie-pagina .grupo1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {



    .pie-pagina .grupo1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        text-align: center;
    }

}