<nav class="menu">
    <div class="menu1">
     <div class="redes">
      <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
      <a href="https://www.whatsapp.com/?lang=es_LA"><i class="bi bi-whatsapp"></i></a>
     </div>
     <div class="mensaje">
      <p>!haz parte de esta familia de sneakers mas grande del mundo!</p>
     </div>
     <div class="inicioSesion">
      <a routerLink="/usuarios">Iniciar Sesion</a>
     </div>
    </div>
  
    <div class="menu2">
      <a routerLink="/">
        <img class="Logotipo" src="/assets/Logo.png" alt="Logo">
      </a>
    </div>

<section class="contenedorformulario">
    <div class="form-container">
        <h2>Iniciar Sesión</h2>
        <form [formGroup]="formularioLogin" (ngSubmit)="manejoDeInicioSesion()">
            <!-- Usuario -->
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="email" placeholder="Ingresa tu usuario" required formControlName="email">
            
            <!-- Contraseña -->
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="password" placeholder="Ingresa tu contraseña" required formControlName="password">
            
            <!-- Botón de enviar -->
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p class="registro-texto">
            ¿No tienes una cuenta? 
            <a routerLink="/registroUsuario">Regístrate aquí</a>
        </p>
    </div>
</section>

<footer class="footer">
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <a routerLink="/">
          <img src="assets/Logo.png" alt="Logo" class="footer-logo-img" />
        </a>
        
      </div>


      <div class="footer-links">
        <ul>
          <li><a routerLink="/" class="footer-link">Inicio</a></li>
          <li><a routerLink="/Adult" class="footer-link">Adultos</a></li>
          <li><a routerLink="/child" class="footer-link">Niños</a></li>
          <li><a routerLink="/usuarios" class="footer-link">Inicio Sesion</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy;2024. Proyecto Realizado por Sebastian Cardona y Christian Franco. </p>
    </div>
  </footer>

