<section class="contenedorformulario">
    <div class="form-container">
        <h2>Iniciar Sesión</h2>
        <form action="procesar_login.php" method="POST">
            <!-- Usuario -->
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" placeholder="Ingresa tu usuario" required>
            
            <!-- Contraseña -->
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="contraseña" placeholder="Ingresa tu contraseña" required>
            
            <!-- Botón de enviar -->
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p class="registro-texto">
            ¿No tienes una cuenta? 
            <a routerLink="/registroUsuario">Regístrate aquí</a>
        </p>
    </div>
</section>

