<div class="product-container">
  <div class="product-card">
    <img src="https://cdn-images.farfetch-contents.com/18/54/99/39/18549939_43724221_1000.jpg" alt="Product 1" class="product-image" />
    <div class="product-details">
      <h3 class="product-title">yeezy foam Runner Onix</h3>
      <p class="product-description"> Las yeezy foam runner son  ideales para quienes buscan comodidad y originalidad..</p>
      <p class="product-price">$390.000</p>
      <p class="product-size">Size 35|36|37|38|39|40|41|42|43</p>
      <button class="add-to-cart-btn">!Comprar Ahora!</button>
    </div>
  </div>

  <div class="product-card">
    <img src="https://cdn-images.farfetch-contents.com/16/29/22/47/16292247_32007138_600.jpg" alt="Product 2" class="product-image" />
    <div class="product-details">
      <h3 class="product-title">Dunk low UNC</h3>
      <p class="product-description">La Nike Dunk Low es una zapatilla icónica de baloncesto y estilo urbano, conocida por su diseño sencillo y versátil.</p>
      <p class="product-price">$650.000</p>
      <p class="product-size">Size 35|36|37|38|39|40|41|42|43</p>
      <button class="add-to-cart-btn">!Comprar Ahora!</button>
    </div>
  </div>

  <div class="product-card">
    <img src="https://cdn-images.farfetch-contents.com/22/94/89/36/22948936_53038834_1000.jpg" alt="Product 3" class="product-image" />
    <div class="product-details">
      <h3 class="product-title">Air Force 1 </h3>
      <p class="product-description">Los Nike Air Force 1 son unas zapatillas clásicas de baloncesto, famosas por su diseño atemporal y su comodidad.</p>
      <p class="product-price">$550.000</p>
      <p class="product-size">Size 35|36|37|38|39|40|41|42|43</p>
      <button class="add-to-cart-btn">!Comprar Ahora!</button>
    </div>
  </div>
  <div class="product-card">
    <img src="https://cdn-images.farfetch-contents.com/12/96/03/49/12960349_13486594_600.jpg" alt="Product 3" class="product-image" />
    <div class="product-details">
      <h3 class="product-title">Jordan 1 High</h3>
      <p class="product-description">Los Air Jordan 1 son unas zapatillas icónicas de baloncesto lanzadas por Nike en 1985. Con su diseño clásico de caña alta y suela robusta, combinan estilo y rendimiento</p>
      <p class="product-price">$950.000</p>
      <p class="product-size">Size 35|36|37|38|39|40|41|42|43</p>
      <button class="add-to-cart-btn">!Comprar Ahora!</button>
    </div>
  </div>
  <div class="product-card">
    <img src="https://cdn-images.farfetch-contents.com/14/61/07/56/14610756_50599485_600.jpg" alt="Product 3" class="product-image" />
    <div class="product-details">
      <h3 class="product-title">Adidas Samba</h3>
      <p class="product-description">Las Adidas Samba son unas zapatillas clásicas de estilo deportivo y urbano, originalmente diseñadas para el fútbol sala. </p>
      <p class="product-price">$450.000</p>
      <p class="product-size">Size 35|36|37|38|39|40|41|42|43</p>
      <button class="add-to-cart-btn">!Comprar Ahora!</button>
    </div>
  </div>
  <div class="product-card">
    <img src="https://cdn-images.farfetch-contents.com/17/08/95/92/17089592_34723812_600.jpg" alt="Product 3" class="product-image" />
    <div class="product-details">
      <h3 class="product-title">New Balance 550</h3>
      <p class="product-description">Las New Balance 550 son unas zapatillas retro de baloncesto que se han convertido en un ícono del estilo urbano. Con un diseño clásico de los años 80</p>
      <p class="product-price">$750.000</p>
      <p class="product-size">Size 35|36|37|38|39|40|41|42|43</p>
      <button class="add-to-cart-btn">!Comprar Ahora!</button>
    </div>
  </div>
</div>
