.menu1{
    width: 100%;
    height: 55px;
    background-color: var(--fondoOscuro);
    color: var(--blanco);
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    font-size: 25px;
}
.menu1 i{
    color: var(--blanco);
    font-size: 25px;
    text-decoration: none;
}
.redes{
    display: flex;
   gap: 15px;
}
.mensaje{
    padding-top: 15px;
    padding-left: 50px;
}
.inicioSesion a{
  text-decoration: none;
  color: var(--blanco);
}

.inicioSesion:hover{
    border-bottom: solid 2px var(--blanco);
  }

.menu2{
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blanco);
}
.Logotipo{
    width: 100px;
   height: 100px; 
}
.contenedorf {
    font-family: "Poppins", serif;
   
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: -2px 10px 39px 5px rgba(0,0,0,0.75);
    width: 500px;
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input, 
.form-container select, 
.form-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;


}

.form-container button {
    background-color: #121212;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.form-container button:hover {
    background-color: #d6d1d0;
    color: black;
}

.footer {
    background: var(--grisSecundario); 
    padding: 80px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    position: relative;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    flex-wrap: wrap;
  }
  
  
  .footer-logo {
    flex: 1;
    padding: 50px;
  }
  
  .footer-logo-img {
    max-width: 180px;
    transition: transform 0.3s ease-in-out;
  }
  
  .footer-logo-img:hover {
    transform: scale(1.1); 
  }
  
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 30px;
  }
  
  .footer-links li {
    margin: 10px 0;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: var(--blanco); 
  }
  
  .footer-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color:var(--texto);
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }
  
  .footer-link:hover::after {
    width: 100%;
  }
  
  
  .footer-social {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-icon img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .social-icon img:hover {
    transform: translateY(-5px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  }
  
  
  .footer-bottom {
    margin-top: 50px;
    font-size: 14px;
    color: #ddd;
  }
  
  .footer-bottom p {
    margin: 0;
    font-style: italic;
  }
  
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-logo {
      margin-bottom: 20px;
    }
  
    .footer-social {
      margin-top: 30px;
    }
  
    .footer-links ul {
      flex-direction: column;
      gap: 15px;
    }
  }